.animated-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  animation: animatedBorder 2s infinite alternate;
  z-index: -1;
}

@keyframes animatedBorder {
  0% {
    border-color: red;
  }
  50% {
    border-color: rgb(28, 28, 66);
  }
  100% {
    border-color: rgb(15, 14, 10);
  }
}
